*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
    text-align: center;
}
h1{
    font-size: 8vmin;
}
.container{
    height:70vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    /* box-shadow:0 0 .5rem pink; */
    font-size: 8vmin;
    color: maroon;
    background: #ffffc7;
}

#reset{
    padding:1rem;
    font-size: 4vmin;
    background-color: black;
    color: white;
}
.winner{

    height:100vmin;
    font-size: 10vmin;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#restart{
    padding: 2rem;
    font-size: 5vmin;
    color: white;
    background-color: black;
    border:none;
}
.hide{
    display: none; 
}